*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
main{
    /* height: 8rem; */
    height: 100vh;
    border: 1px solid red;
    /* border: 2px solid red; */
    background-color: #ccc;
    background-image: url(textura.jpg);
    background-repeat: no-repeat;
}
section{
   
}