body{
   text-align: center;
   align-items: center;
}

.foto-perfil{
   border-radius: 80%;
   width: 50%;
}

h1,p{
   color: white;
}

.FondoTotal{
   background-color:rgba(255, 255 ,255,0.2);
   max-width: 400px;
   margin-left: 35%;
   margin-top: 5%;
   border-radius: 30px;
}

img{
    width: 5%;
    margin-right: 10px;
}
